@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
    font-family: 'Krona One', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    font-size: 35px;
}

.game-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.game-grid {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border: 3px solid rgb(10, 13, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n){
    border-right: none;
}

.cell:nth-child(3n+1){
    border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.fas, .far {
    padding: 0;
    margin: 0;
    font-size: 500%;
    font-weight: 900;
}

.temp {
    color: rgba(0, 0, 0, 0.6);
}

.start-modal, .winner-modal {
    visibility:hidden;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winner-modal {
    visibility: hidden;
}
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 41, 46);
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.6);
    height: 60%;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

.winner {
    color: white;
    height: 30%;
    font-size: 35px;
}

.fa-times-circle {
    font-size: 40px;
    transition: ease-in 0.2s;
}

.fa-times-circle:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: rgb(80, 3, 3);
}


#submit:hover, #start-game:hover, #reset-game:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

#submit, #start-game, #reset-game {
    width: 100px;
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}